* {
  margin: 0%;
  padding: 0%;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: #736e6b;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
}

.innercontainer {
  border-left: 1px solid #d2eff8;
}

.logo {
  min-height: 10vh;
}

i {
  padding: 3%;
  color: rgba(169, 166, 165, 0.5);
}

a {
  display: block;
  margin-left: 3%;
  padding: 3%;
  padding-left: 5%;
  color: black;
}

a:hover {
  background-color: #0999d6;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  color: white;
}

a:hover i {
  color: white;
}

.topbar {
  position: relative;
  padding: 1% 3rem;
}

.fa-bell {
  position: absolute;
  right: 2%;
}

.dashboard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  padding: 2% 1%;
  padding-right: 0%;
  background-color: #f2f7fb;
}

.card {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding: 1rem;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 3px 3px 20px rgba(84, 90, 88, 0.1);
          box-shadow: 3px 3px 20px rgba(84, 90, 88, 0.1);
}

.top {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(84, 90, 88, 0.2)), to(#f3f7fa));
  background-image: linear-gradient(to right, rgba(84, 90, 88, 0.2), #f3f7fa);
}

.rightcard {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  margin-left: 1rem;
  margin-right: 0%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: white;
}

.middle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middleleft {
  border-right: black solid 1px;
}

.middleright {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.creditimg {
  width: 100px;
  height: auto;
}

.addcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  height: 100%;
  border-radius: 20px;
  background-color: #e8f5fb;
}

h3 {
  font-size: 70%;
  padding: 1em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 3% 0%;
  padding-right: 6%;
  font-weight: normal;
  text-align: center;
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
}

tr {
  text-align: center;
}

tr:hover {
  background-color: #fafafa;
}

.quicklinks {
  border-top: solid 1px lightgray;
}

.quick:hover {
  background-color: #0999d6;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  color: white;
}

button {
  margin-top: 25%;
  margin-bottom: 10%;
  padding: 1rem;
  width: 40%;
  border: 0px;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  background-color: #0999d6;
  color: white;
}

button:active {
  background-color: darkblue;
  color: gray;
}

.rightcard.bottom {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}
/*# sourceMappingURL=main.css.map */